.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.input-group.md-form.form-sm.form-2 input.amber-border {
  border: 1px solid white;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
}
@media only screen and (min-width: 768px) {
  body {
    overflow: hidden;
  }
}

#netBackground {
  width: 100%;
  height: 100%;
}

#tradingview_af9df {
  width: 100%;
  height: 60vh;
}

.error {
  color: red;
  margin-top: 1rem;
}
